{% extends 'layout/basic.html' %}

{% block content %}
    

    

    <!-- ==========Page Header Section Start Here========== -->
    <section class="page-header-section style-1">
        <div class="container">
            <div class="page-header-content">
                <div class="page-header-inner">
                    <div class="page-title">
                        <h2> All of our Authors</h2>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="index">Home</a></li>
                        <li class="active">All-authors</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Page Header Section Ends Here========== -->


    <!-- ==========explore Section start Here========== -->
    <section class="explore-section padding-top padding-bottom">
        <div class="container">
            <div class="section-header justify-content-between">
                <div class="header-title">
                    <span><i class="icofont-light-bulb"></i></span>
                    <h3>All Authors</h3>
                </div>
                <div class="nft-search">
                    <div class="form-floating nft-search-input">
                        <input type="text" class="form-control" id="nftSearch" placeholder="Search Author">
                        <label for="nftSearch">Search Author</label>
                        <button type="button"> <i class="icofont-search-1"></i></button>
                    </div>
                </div>
            </div>
            <div class="section-wrapper">
                <div class="explore-wrapper">
                    <div class="row justify-content-center gx-4 gy-3">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="nft-item style-2">
                                <div class="nft-inner">
                                    <div class="nft-thumb">
                                        <img loading="lazy" src="assets/images/nft-item/style-2/01.jpg" alt="nft-img">
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-thumb">
                                            <a href="author" class="veryfied"><img loading="lazy"
                                                    src="assets/images/seller/04.png" alt="author-img"></a>
                                        </div>
                                        <div class="author-details">
                                            <h5><a href="author">Gihan Fernindo</a> </h5>
                                            <p class="nft-price yellow-color">$23,002.98</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="nft-item style-2">
                                <div class="nft-inner">
                                    <div class="nft-thumb">
                                        <img loading="lazy" src="assets/images/nft-item/style-2/02.jpg" alt="nft-img">
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-thumb">
                                            <a href="author" class="veryfied"><img loading="lazy"
                                                    src="assets/images/seller/04.gif" alt="author-img"></a>
                                        </div>
                                        <div class="author-details">
                                            <h5><a href="author">X31le eko Fernindo</a> </h5>
                                            <p class="nft-price yellow-color">$23,002.98</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="nft-item style-2">
                                <div class="nft-inner">
                                    <div class="nft-thumb">
                                        <img loading="lazy" src="assets/images/nft-item/style-2/03.jpg" alt="nft-img">
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-thumb">
                                            <a href="author" class="veryfied"><img loading="lazy"
                                                    src="assets/images/seller/03.png" alt="author-img"></a>
                                        </div>
                                        <div class="author-details">
                                            <h5><a href="author">Jhon Doe </a> </h5>
                                            <p class="nft-price yellow-color">$23,002.98</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="nft-item style-2">
                                <div class="nft-inner">
                                    <div class="nft-thumb">
                                        <img loading="lazy" src="assets/images/nft-item/style-2/04.jpg" alt="nft-img">
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-thumb">
                                            <a href="author" class="veryfied"><img loading="lazy"
                                                    src="assets/images/seller/07.gif" alt="author-img"></a>
                                        </div>
                                        <div class="author-details">
                                            <h5><a href="author">Alex joe</a> </h5>
                                            <p class="nft-price yellow-color">$23,002.98</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="nft-item style-2">
                                <div class="nft-inner">
                                    <div class="nft-thumb">
                                        <img loading="lazy" src="assets/images/nft-item/style-2/06.jpg" alt="nft-img">
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-thumb">
                                            <a href="author" class="veryfied"><img loading="lazy"
                                                    src="assets/images/seller/02.png" alt="author-img"></a>
                                        </div>
                                        <div class="author-details">
                                            <h5><a href="author">Imao XO9 </a> </h5>
                                            <p class="nft-price yellow-color">$23,002.98</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="nft-item style-2">
                                <div class="nft-inner">
                                    <div class="nft-thumb">
                                        <img loading="lazy" src="assets/images/nft-item/style-2/04.jpg" alt="nft-img">
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-thumb">
                                            <a href="author" class="veryfied"><img loading="lazy"
                                                    src="assets/images/seller/06.png" alt="author-img"></a>
                                        </div>
                                        <div class="author-details">
                                            <h5><a href="author">Gihan Fernindo</a> </h5>
                                            <p class="nft-price yellow-color">$23,002.98</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="nft-item style-2">
                                <div class="nft-inner">
                                    <div class="nft-thumb">
                                        <img loading="lazy" src="assets/images/nft-item/style-2/01.jpg" alt="nft-img">
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-thumb">
                                            <a href="author" class="veryfied"><img loading="lazy"
                                                    src="assets/images/seller/04.gif" alt="author-img"></a>
                                        </div>
                                        <div class="author-details">
                                            <h5><a href="author">5eo Le1 </a> </h5>
                                            <p class="nft-price yellow-color">$23,002.98</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="nft-item style-2">
                                <div class="nft-inner">
                                    <div class="nft-thumb">
                                        <img loading="lazy" src="assets/images/nft-item/style-2/07.jpg" alt="nft-img">
                                    </div>
                                    <div class="nft-content">
                                        <div class="author-thumb">
                                            <a href="author" class="veryfied"><img loading="lazy"
                                                    src="assets/images/seller/07.png" alt="author-img"></a>
                                        </div>
                                        <div class="author-details">
                                            <h5><a href="author">Gihan Fernindo</a> </h5>
                                            <p class="nft-price yellow-color">$23,002.98</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="load-btn mt-5">
                        <a href="all-authors-2" class="default-btn move-bottom">
                            <span>Load More</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ==========explore Section ends Here========== -->

    <!-- ===============//seller section start here \\================= -->
    <section class="seller-section padding-bottom">
        <div class="container">
            <div class="section-header">
                <div class="header-title">
                    <span><i class="icofont-users"></i></span>
                    <h3>New Authors</h3>
                </div>
                <div class="header-content d-flex flex-wrap align-items-center">
                    <ul class="seller-filter-btns d-flex flex-wrap mb-0">
                        <li class="seller-filter-btn">
                            <select class="buyer-seller-select">
                                <option value="*">show all</option>
                                <option value=".seller">Seller</option>
                                <option value=".buyer">Buyer</option>

                            </select>
                        </li>
                        <li class="seller-days-btn">
                            <select class="days-select">
                                <option value="*">show all</option>
                                <option value=".today">Today</option>
                                <option value=".day-2">2 Days</option>
                                <option value=".day-3">3 Days</option>
                                <option value=".day-4">4 Days</option>

                            </select>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section-wrapper">
                <div class="seller-wrapper">
                    <div class="seller-item seller today">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">21</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author" class=""><img src="assets/images/seller/01.gif"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">Andrea Guido</a> </h5>
                                        <p>$23,002.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item buyer day-2">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">34</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/01.png"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">goxio dom</a> </h5>
                                        <p>$12,002.48</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item seller day-4">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">31</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/02.png"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">pter qido</a> </h5>
                                        <p>$3,002.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item buyer day-3">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">05</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/03.png"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">Andrea Guido</a> </h5>
                                        <p>$23,002.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item seller day3">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">09</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/04.png"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">rox zipper</a> </h5>
                                        <p>$20,02.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item buyer day-2">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">01</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/05.gif"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">Andrea Guido</a> </h5>
                                        <p>$23,002.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item seller today">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">30</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/06.png"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">Rassel Mrh </a> </h5>
                                        <p>$93,002.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item buyer day-4">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">01</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/03.gif"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">holder don</a> </h5>
                                        <p>$23,002.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item seller day-2">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">91</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/07.png"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">annae de</a> </h5>
                                        <p>$3,002.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="load-btn mt-5">
                    <a href="all-authors-2" class="default-btn move-bottom">
                        <span>Load More</span>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <!-- ===============//seller section end here \\================= -->

    <!-- ===============//seller section start here \\================= -->
    <section class="seller-section padding-bottom">
        <div class="container">
            <div class="section-header">
                <div class="header-title">
                    <span><i class="icofont-badge"></i></span>
                    <h3>Top Authors</h3>
                </div>
                <div class="header-content d-flex flex-wrap align-items-center">
                    <ul class="seller-filter-btns d-flex flex-wrap mb-0">
                        <li class="seller-filter-btn">
                            <select class="buyer-seller-select">
                                <option value="*">show all</option>
                                <option value=".seller">Seller</option>
                                <option value=".buyer">Buyer</option>

                            </select>
                        </li>
                        <li class="seller-days-btn">
                            <select class="days-select">
                                <option value="*">show all</option>
                                <option value=".today">Today</option>
                                <option value=".day-2">2 Days</option>
                                <option value=".day-3">3 Days</option>
                                <option value=".day-4">4 Days</option>

                            </select>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section-wrapper">
                <div class="seller-wrapper">
                    <div class="seller-item seller today">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">21</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author" class=""><img src="assets/images/seller/01.gif"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">Andrea Guido</a> </h5>
                                        <p>$23,002.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item buyer day-2">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">34</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/01.png"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">goxio dom</a> </h5>
                                        <p>$12,002.48</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item seller day-4">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">31</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/02.png"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">pter qido</a> </h5>
                                        <p>$3,002.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item buyer day-3">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">05</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/03.png"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">Andrea Guido</a> </h5>
                                        <p>$23,002.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item seller day3">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">09</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/04.png"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">rox zipper</a> </h5>
                                        <p>$20,02.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item buyer day-2">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">01</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/05.gif"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">Andrea Guido</a> </h5>
                                        <p>$23,002.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item seller today">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">30</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/06.png"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">Rassel Mrh </a> </h5>
                                        <p>$93,002.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item buyer day-4">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">01</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/03.gif"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">holder don</a> </h5>
                                        <p>$23,002.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item seller day-2">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">91</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/07.png"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">annae de</a> </h5>
                                        <p>$3,002.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item buyer today">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">01</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/05.gif"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">Andrea Guido</a> </h5>
                                        <p>$23,002.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item seller day-4">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">02</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/09.png"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">Xomzat paul</a> </h5>
                                        <p>$34,002.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item buyer day-3">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">51</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/11.png"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">Andrea Guido</a> </h5>
                                        <p>$23,002.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item seller day-2">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">21</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/06.png"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">helen exo</a> </h5>
                                        <p>$2,002.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item buyer day-4">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">61</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/06.png"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">Pickas Guido</a> </h5>
                                        <p>$23,002.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="seller-item seller today">
                        <div class="seller-inner">
                            <div class="seller-part">
                                <p class="assets-number">33</p>
                                <div class="assets-owner">
                                    <div class="owner-thumb veryfied">
                                        <a href="author"><img src="assets/images/seller/10.gif"
                                                alt="seller-img"></a>
                                    </div>
                                    <div class="owner-content">
                                        <h5><a href="author">Tom cat</a> </h5>
                                        <p>$23,002.98</p>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-part">
                                <button class="btn-follow follow-state">
                                    <span class="follow"><i class="fa fa-user-plus"></i> Follow</span>
                                    <span class="unfollow">Unfollow</span>
                                    <span class="following">Following</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="load-btn mt-5">
                    <a href="all-authors-2" class="default-btn move-bottom">
                        <span>Load More</span>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <!-- ===============//seller section end here \\================= -->


    {% endblock content %}